@import "../../styles/_variables.scss";

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
  color: white;
  &__content {
    width: 60%;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 300;
    color: $neutral1;
    line-height: 1.5;
    &--bold {
      font-weight: 600;
      color: white;
      font-size: 2.5rem;
    }
  }
  &__icon {
    svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
